# Source control
.git
.gitignore

# Build outputs
*.exe
agent
agent.exe
*.test
*.out
tmp/

# IDE files
.idea/
.vscode/

# Local .DuckOpsConfiguration
.duckops/

# Depending on your need, you might want to ignore local env files if you had them
*.env
